<div class="panel panel-default">
  <div class="panel-body">
    <form id="document-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
      
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Document Title:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            [(ngModel)]="document.name"
            #name="ngModel"
            size="120"
            maxlength="120">
        </div>
      </div>

      <!-- Document Description -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Document Description:</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            [(ngModel)]="document.description"
            size="120"
            maxlength="255">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="url">Document URL:</label>
          <input
            type="text"
            id="url"
            name="url"
            class="form-control"
            required
            [(ngModel)]="document.url"
            #url="ngModel"
            size="150"
            maxlength="255">
        </div>
      </div>

      <!-- Validation Error Message -->
      <div class="row" *ngIf="(name.invalid && name.touched) || (url.invalid && url.touched)">
        <div class="col-sm-12">
          <div class="alert alert-danger">
            The Document Title and Document URL are required fields.
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>
