<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <a
        class="btn btn-success pull-right"
        [routerLink]="['/documents', 'new']"
      >Add Document</a>
    </div>
  </div>

  <div class="panel-body">
    <div class="center-panel">
      <div class="row">
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
          *ngFor="let doc of documents"
          (click)="onSelectedDocument(doc)"
        >
          <app-document-item [document]="doc"></app-document-item>
        </div>
      </div>
    </div>
  </div>
</div>
